<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visualizer</title>
    <meta name="description" content="description" />
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/css">
      .body {
        width: auto;
      }

      .dropdown:hover .dropdown-menu {
        display: block;
      }
    </style>
  </head>
  <body>
    <div class="p-6 w-full flex items-center">
      <div class="w-full">
        <h1 class="p-2 text-center text-3xl font-bold">Visualizer</h1>
        <h2 class="text-center text-xl">Numerical Differential Equations</h2>
      </div>
    </div>

    <div class="p-6 flex flex-row gap-4">
      <div class="p-6 w-1/4 rounded shadow-lg flex items-center space-x-4">
        <div class="p-4 flex flex-col gap-4">
          <div class="text-xl font-medium text-black">Methods</div>
          <div class="flex justify-center">
            <select
              id="select-method"
              class="form-select form-select-sm appearance-none block w-full px-2 py-1 text-sm font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            >
              {% for method in methods %}
              <option value="{{ method }}">{{ method | capitalize }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="text-l font-medium text-black">Options</div>
          <div class="flex justify-center">
            <select
              id="select-option"
              class="form-select form-select-sm appearance-none block w-full px-2 py-1 text-sm font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            >
              {% for key, item in methods.items() %} {% for option in
              item['options'] %}
              <option value="{{ key }}-{{ loop.index-1}}">
                {{ option.name }}
              </option>
              {% endfor %} {% endfor %}
            </select>
          </div>
          <button id="compute-button">Compute</button>
        </div>
      </div>
      <div class="p-6 w-3/4 rounded shadow-lg flex items-center space-x-4">
        <div id="plot"></div>
      </div>
    </div>
  </body>
  <!-- <script type="module" src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script> -->
  <script src="js/Plotly.js"></script>
  <script type="module" src="js/main.js"></script>
</html>
