<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visualizer</title>
    <meta name="description" content="description" />
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href="css/uikit.min.css" />
    <script src="js/uikit/uikit.min.js"></script>
    <script src="js/uikit/uikit-icons.min.js"></script>
    <style type="text/css">
      body {
        height: 100vh;
      }

      .dropdown:hover .dropdown-menu {
        display: block;
      }
    </style>
  </head>
  <body>
    <div class="uk-height-1-1 uk-padding uk-background-muted">
      <div class="uk-container uk-container-expand">
        <!-- Title -->
        <div uk-grid>
          <div class="uk-width-1-1">
            <h1 class="uk-heading uk-heading-line uk-text-center">
              <span> Numerical Ordinary Differential Equations Solver </span>
            </h1>
          </div>

          <!-- Dashboard -->
          <div class="uk-width-1-3" uk-grid>
            <div>
              <div class="uk-card uk-card-body uk-card-default uk-text-right">
                <div class="uk-child width-1-1" uk-grid>
                  <!-- Selections -->
                  <div class="uk-child-width-1-4" uk-grid>
                    <!-- Function -->
                    <div>Function</div>
                    <div class="uk-width-3-4">
                      <input
                        uk-tooltip="title: The ode: f(t, y) = y'(t)"
                        class="uk-input"
                        id="select-function"
                        type="text"
                        placeholder="Function"
                        value="2-exp(-4*t)-2*y"
                      />
                    </div>

                    <div>Solution</div>
                    <div class="uk-width-3-4">
                      <input
                        uk-tooltip="title: The analytical solution (if known)"
                        class="uk-input"
                        id="select-solution"
                        type="text"
                        placeholder="Solution"
                        value="1 + 1/2 * exp(-4*t) - 1/2 * exp(-2*t)"
                      />
                    </div>

                    <div>Parameters</div>

                    <div class="uk-width-3-4 uk-child-width-1-3" uk-grid>
                      <div>
                        <input
                          uk-tooltip="title: The initial y(0)"
                          class="uk-input"
                          id="select-y0"
                          type="number"
                          value="1"
                          placeholder="y0"
                        />
                      </div>
                      <div>
                        <input
                          uk-tooltip="title: The left domain beginning"
                          class="uk-input"
                          id="select-t0"
                          type="number"
                          value="0"
                          placeholder="t0"
                        />
                      </div>
                      <div>
                        <input
                          uk-tooltip="title: The right domain end"
                          class="uk-input"
                          id="select-te"
                          type="number"
                          value="1"
                          placeholder="te"
                        />
                      </div>
                    </div>

                    <div>Methods</div>
                    <div class="uk-width-3-4">
                      <select id="select-method" class="uk-select">
                        {% for method in methods %}
                        <option value="{{ method }}">
                          {{ method | capitalize }}
                        </option>
                        {% endfor %}
                      </select>
                    </div>

                    <div>Options</div>
                    <div class="uk-width-3-4">
                      <select id="select-option" class="uk-select">
                        {% for key, item in methods.items() %} {% for option in
                        item['options'] %}
                        <option value="{{ key }}-{{ loop.index-1}}">
                          {{ option.name }}
                        </option>
                        {% endfor %} {% endfor %}
                      </select>
                    </div>
                  </div>
                  <!-- /Selection -->

                  <div class="uk-padding-top uk-width-1-1">
                    <button
                      class="uk-width-1-1 uk-button uk-button-default"
                      id="compute-button"
                    >
                      Compute
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Plot Div -->
          <div class="uk-width-2-3">
            <div class="uk-card uk-card-body uk-card-default">
              <div id="plot" style="height: 100%; width: 100%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="js/Plotly.js"></script>
  <script type="module" src="js/main.js"></script>
</html>
